body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
}
header {
    background-color: #474747;
}
.menu a {
    color: #F13B02;
}
.menu {
    text-align: center;
    margin: 0 auto;
}

.menu li {
    display: inline-block;
    margin: 18px;
    line-height: 24px;
}
._image_wrapp {
    padding-top: 20px;
    background-image: url(../images/wind-turbines.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 640px;
}
.text {
    margin-left: 288px;
    margin-top: 80px;}

.order {
    width: 128px;
    height: 39px;
    border: 2px solid #F13B02;
    border-radius: 8px;
}
.knock {
    text-align: center;
    margin: 10px;}

.knock a {
    color: #F13B02;
}

.container {
    background-color: #474747;
}
.contact-form {
    max-width: 571px;
    margin-left: auto;
    margin-right: auto;
    background-color: #474747;
    padding: 10px;
}
form {
    color: #C4C4C4;
    max-width: 571px;
}

textarea {
    width: 571px;
    height: 183px;
    border-radius: 8px    
    resize: none;
    border: 2px solid #F13B02;
    border-radius: 8px;
}


input {
    width: 571px;
    height: 39px;
    border: 2px solid #F13B02;
    border-radius: 8px;
}
button {
    width: 128px;
    height: 40px;
    background-color: #F13B02;
    border-radius: 8px;
    color: #353535;
    margin-top: 16px;
    margin-bottom: 32px;
    border-style: none;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Roboto Slab';
}

a{text-decoration: none;

}

footer {
    background-color: black;
    color: white;
    text-align: center;
}
.end {
    display: inline-block;
    margin: 0 auto;
}